nav .navbar-brand img {
  width: 100px;
}

nav a:link,
nav a:visited {
  color: white !important;
}

/*---- MAIN PAGE ----------------------------------------------------*/
.card {
  min-width: 15em !important;
  max-width: 18em !important;
}

.card .card-img-top {
  max-height: 256px;
  width: fit-content !important;
  margin: 10px auto 3px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-direction: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/*---- DETAILS PAGE -------------------------------------------------*/
#goBack {
  text-decoration: none;
}

#imgDetails {
  width: 100%;
}
